body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #7024ff, #5180a4);
  color: #fff;
  text-align: center;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}
.contenedor {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  width: 100%;
  padding: 40px 20px 40px 200px;
  box-sizing: border-box;
}
.contenedor-principal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  text-align: left;
}
.vtuber-logo {
  max-width: 350px;
  margin-left: 80px;
  height: auto;
  margin-bottom: -100px;
}
#vtuber-phrase {
  font-size: 20px;
  font-style: italic;
  margin-left: 100px;
  margin: 0;
  padding: 0;
  color: white;
}
.socials {
  margin-top: 1px ;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.socials img {
  width: 40px;
  height: 40px;
  transition: transform 0.2s ease;
}
.socials img:hover { transform: scale(1.2); }
@media (max-width: 992px) {
  main { flex-direction: column; align-items: center; }
  .extra-cuadro { width: 100%; }
}
.bloque-ficha {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.back-button {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #52403c;
  font-weight: bold;
  font-size: 22px;
  margin-top: 20px;
}
.extra-cuadro {
  display: flex;
  flex-direction: column;
  border: 4px solid #000;
  align-items: center;
  background: #7024ff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 800px;
  gap: 20px;
  box-sizing: border-box;
  flex: 1 1 600px;
  max-width: 800px;
  position: relative;
  top: 250px;
  left: 100px;
}
main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 60px;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}
.emotes-box {
  display: flex;
  background: #000;
  padding: -10px;
  border-radius: 8px;
  width: 730px;
  align-items: stretch;
}
.oshimarks {
  flex: 5;
  color: white;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 30px solid #7024ff;
}
.emotes {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.emotes img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
.imagen-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  flex: 1 1 auto;
  min-height: 800px;
  box-sizing: border-box;
}
.imagen-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}